.appointment-calender {
    height: 500px;
    padding: 5%;
    box-shadow: 0px 2px 5px lightgray;
    border-radius: 10px;
}

.appointment-table{
    height: 500px;
    padding: 5%;
    box-shadow: 0px 2px 5px lightgray;
    border-radius: 10px;
}

.appointment-table-top {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}