.info-container {
    border-radius: 5px;
    height: 120px;
    padding: 40px;
}

.info-secondary {
    background-color: #1CC7C1;
}

.info-dark {
    background-color: #3A4256;
}

.info-card-icon {
    font-size: 40px;
}

@media only screen and (max-width: 767px) {
    .info-container {
        margin-top: 1em;
    }
}