.btn-brand {
    background-image: linear-gradient(75deg, #19DEAE, #0FCFEC);
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff !important;
}

.brand-bg {
    background-image: linear-gradient(75deg, #19DEAE, #0FCFEC);
}

.text-brand {
    color: #1cc7c1;
}